body {
    background-color: #706e6e;
    color: #fff;
}

.App {
    text-align: center;
}

.taskBg {
    background-color: #a09e9e;
    border-radius: 6px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 10px 150px 10px 15px;
    text-align: left;
    font-size: 22px;
    position: relative;
}

.taskBg div {
    display: flex;
    align-items: center;
}

.taskNumber {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    display: flex;
    text-align: center;
    font-size: 14px;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
}

.taskBg .taskText {
    flex: 1;
    color: #fff;
}

.taskBg .done .taskText {
    text-decoration: line-through;
    opacity: 0.3;
}

.taskBg .iconsWrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: auto;
    display: inline-block;
}

.taskBg .iconsWrap span {
    display: inline-block;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
    color: #00ff89;
}

.taskBg .iconsWrap span:hover {
    color: yellow;
}
